<aside class="col-sm-2">
    <div class="p-4 col-sm-2">
        <button class="font-italic btn btn-lg cust-btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
        <ol class="list-unstyled mb-0 dropdown-menu" aria-labelledby="dropdownMenu2">
            <li class="dropdown-item"><a href="non-fiction">Non Fiction</a></li>
            <li class="dropdown-item"><a href="biography">Biography</a></li>
        </ol>
    </div>

    <div class="p-4">
        <button class=" btn btn-lg cust-btn dropdown-toggle font-italic"  type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular Now</button>
        <ol class="list-unstyled dropdown-menu"  aria-labelledby="dropdownMenu2">
            <li class="dropdown-item"><a href="the-alchemist">The Alchemist</a></li>
            <li class="dropdown-item"><a href="who-moved-my-cheese">Who Moved My Cheese</a></li>
            <li class="dropdown-item"><a href="out-of-the-maze">Out of the Maze</a></li>
        </ol>
    </div>
</aside><!-- /.blog-sidebar -->