<%- include("partials/header"); %>

<section class="colored-section">
    <div class="container-fluid">
        <!--  Title-->
        <div class="row">
            <div class="col-lg-6">
                <h1 class="big-heading">Meet your next favorite book</h1>
                <h4>We are the ultimate destination for book lovers bunled with lots of features to improve your reading eperience</h4>
                <h4>We offer you the first bengali website for book lovers</h4>
            </div>

            <div class="col-lg-6">
                <img class="title-img" src="images/book.png" alt="book-mockup">
            </div>
        </div>

    </div>
</section>
<%- include("partials/footer"); %>