<%- include("partials/header"); %>

<div class="container">
    <div class="row mb-2 p-4 p-md-5">
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">The Alchemist</h3>
                    <div class="mb-1 text-muted">Paulo Coelho</div>
                    <a href="the-alchemist" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/the_alchemist.jpg" alt="The Alchemist" height="250" width="200">
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
        <%- include("partials/sidebar"); %>
    </div>
</div>
<%- include("partials/footer"); %>