<%- include("partials/header"); %>


<form  action="/contact" method="post" class="form-signin">
    <img class="signIn-img" src="images/book.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please Leave Your Message</h1>
    <label for="inputName" class="sr-only">Full Name</label>
    <input name="userName" type="text" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="userEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="userMessage" class="sr-only">Email address</label>
    <textarea name="userMessage" type="text" id="userMessage" class="form-control" required autofocus> </textarea>

    <button class="btn btn-lg btn-block btn-outline-dark cust-btn" type="submit">Submit</button>
</form>

<%- include("partials/footer"); %>