<%- include("partials/header"); %>

<div class="container">
    <div class="row mb-2 p-4 p-md-5">
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Who Moved My Cheese</h3>
                    <div class="mb-1 text-muted">Dr. Spencer Johnson</div>
                    <a href="who-moved-my-cheese" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/who_moved_my_cheese.jpg" alt="who moved my cheese" height="250" width="200">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Out of the Maze</h3>
                    <div class="mb-1 text-muted">Dr. Spencer Johnson</div>
                    <a href="out-of-the-maze" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/out_of_the_maze.jpg" alt="out of the maze" height="250" width="200">
                </div>
            </div>
        </div>
        <%- include("partials/sidebar"); %>
    </div>
    <div class="row mb-2 p-4 p-md-5">
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">The Subtle Art of Not Giving A F*CK</h3>
                    <div class="mb-1 text-muted">Mark Manson</div>
                    <!--                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
                    <a href="the-subtle-art-of-not-giving-a-fck" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/the_subtle_art_of_not_giving_a_fck.jpg" alt="who moved my cheese" height="250" width="200">
                    <!--                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Eat That Frog</h3>
                    <div class="mb-1 text-muted">Brian Tracy</div>
                    <a href="eat-that-frog" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/eat_that_frog.jpg" alt="eat that frog" height="250" width="200">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 p-4 p-md-5">
        <div class="col-md-5">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">The 4-Hour Work Week</h3>
                    <div class="mb-1 text-muted">Timothy Ferriss</div>
                    <!--                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>-->
                    <a href="the-4-hour-work-week" class="stretched-link">Details</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/the_4_hour_work_week.jpg" alt="The 4-Hour Work Week" height="250" width="200">
                    <!--                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer"); %>